
*{
    margin: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../images/imageg.jpg') ;
    background-size: cover;
    background-attachment: fixed;
}



.header-container{
    padding: 70px;
    text-align: center;
    background-image: url('../images/imageg.jpg');
    background-size: cover;
    color:#9ee4ba;
    font-size: 100px;
    box-shadow: 12px 12px 15px 14px rgba(0, 0, 0, 0.25);
  
    
}

.header-container p {
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.signin-form-container{
    display: inline-block;
    width: 100%;
    margin: 150px 500px;
    /* padding: 50px; */
    padding: 80px 100px;
    background-color:inherit;
    border-radius: 9px;
    backdrop-filter: blur(3px) brightness(1);
    box-shadow: 12px 12px 15px 14px rgba(0, 0, 0, 0.25);


}

.col{
    width: 40%;
    float: left;
    margin: auto 5%;
}

.form {
    padding: 50px;
}


.form::after {
    clear: both;
    display: table;
    content: '';
}
.form-1{
    margin: 20px;
    text-align: center;
    padding: 0px 50px;
}

.form-1 p{
    color:rgb(8, 10, 10);
    margin: 20px 0px;
    text-align: center;
    
}

a{
    color:indigo;
}

.form-submit{
    margin: 20px auto;
    width: 25%;
    text-align: center;
}

input, .bt {
    width: 100%;
    border-radius: 5px;
    padding: 8px 14px;
    margin: 9px auto;
    background-color: #c0c0c0;
    border: 2px solid #0a3a40;
    color:#1d3461;
    transition: all 1.5s;

}
.bt {
    padding: 9px 14px;
}

.bt:hover {
    background-color: #0a3a40;
    color:#abc6ec
}

.btn {
    padding: 22px;
    border-radius: 100%;
    background-image: url('../images/qua.png');
    background-size: cover;
    background-color:#9ee4ba;
    border: 1px solid #1d3461;
    float: left;
    margin-left: 12%;
    filter:grayscale(100%)
}

.btn:hover{
    filter:grayscale(0)
}

#fp {
    text-align:center;
    
}



input::placeholder{
    color:#223a4d;
    opacity: 0.5;
}

input:focus{
    background-color: antiquewhite;
    border: 3px solid maroon;
    outline: none;

}

label{
    font-size: 20px;
    color:#abc6ec;
    text-align: left;
   

}
.pl {
    
    margin-bottom: 23px;
}







/*form h2, h5*/
.form-hs {
    text-align: center;
    

}

h2.form-hs {
    font-size: 33px;
    color: #b7c9e2;
  

}

@media screen and (max-width: 8000px) {
    /*25%*/
    .signin-form-container{
       margin: 0px;
    }
    }

@media screen and (max-width: 6000px) {
    /*33%*/
    .signin-form-container{
           margin: 0px;
    }
    }


@media screen and (max-width: 3600px) {
    /*50%*/
    .signin-form-container{
       margin: 0px;
    }
    }
    
@media screen and (max-width: 2400px) {
    /*67%*/
        .signin-form-container{
           margin: 0px;
        }
        }

@media screen and (max-width: 2200px) {
    /*75%*/
    .signin-form-container{
       margin: 0px ;
    }
    }


@media screen and (max-width: 2100px) {
    /*80%*/
.signin-form-container{
   margin: 0px ;
}
}

@media screen and (max-width: 1900px) {
    /*90%*/
    .signin-form-container{
       margin: 0px ;
    }
    }
    
@media screen and (max-width: 1700px) {
    /*100%*/
    .signin-form-container{
       margin: 0px;
    }
    }

@media screen and (max-width: 1500px) {
    /*110%*/
    .signin-form-container{
       margin: 0px;
    }
    }

@media screen and (max-width: 1250px) {
        /*125%*/
    .signin-form-container{
       margin: 0px;
    }
    }

@media screen and (max-width: 1245px) {
        /*150% --almost near 125%*/ 
    .signin-form-container{
       margin: 0px;
    }
    
    }

@media screen and (max-width: 900px) {
        /*175%*/
    .signin-form-container{
       margin: 0px;
    }
    

    .form-submit{
        width: 50%;
    }
    .col{
        width: 100%;
    }


    input, .bt {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    /*200%*/
.signin-form-container{
   margin: 0px;
}


.form-submit{
    width: 50%;
}
.col{
    width: 100%;
}


input, .bt {
    width: 100%;
}
}


@media screen and (max-width: 700px) {
    /*250%*/
.signin-form-container{
   margin: 0px;
}

.form-submit{
    width: 50%;
}
.col{
    width: 100%;
}


input, .bt {
    width: 100%;
}
}

@media screen and (max-width: 650px) {
    /*300%*/
.signin-form-container{
   margin: 0px;
}

.form-submit{
    width: 50%;
}
.col{
    width: 100%;
}


input, .bt {
    width: 100%;
}
.header-container{
    padding: 10px;
   
    
}
}

@media screen and (max-width: 500px) {
    /*400%*/
.signin-form-container{
   margin: 0px;
}


.header-container{
    padding: 30px;
    font-size: 60px;
    
}

.form-submit{
    width: 50%;
}
.col{
    width: 100%;
}


input, .bt {
    width: 100%;
}
}
@media screen and (max-width: 350px) {
    /*500%*/
.signin-form-container{
   margin: 0px 1px;
}

.btn {
    padding: 10px;
    margin-left: 15%;
  
}

.form-submit{
    width: 50%;
}
.col{
    width: 100%;
}


input, .bt {
    width: 100%;
}
}